.image-container {
    overflow: hidden; /* Hides overflow to avoid showing parts of the image that are zoomed */
  }
  
  .zoom-image {
    transition: transform 1s ease; /* Smooth transition for the zoom effect */
  }
  
  .image-container:hover .zoom-image {
    transform: scale(1.1); /* Scale the image to 110% on hover */
  }
  